<p>New account waiting for approval.</p>

<p>Email: <%= @user.email %></p>
<p>First name: <%= @user.first_name %></p>
<p>Last name: <%= @user.last_name %></p>

<%= link_to 'Edit User', edit_user_url(@user) %>
