<div class="ui segment">
    <table class="ui center aligned fluid very basic table">
        <thead>
            <tr class="center aligned">
                <th>Message</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td class="collapsing"><%= @history.message %></td>
            </tr>
        </tbody>
    </table>

    <table class="ui four column fluid very basic table">
        <thead>
            <tr class="center aligned">
                <th>Created</th>
                <th>Submitted By</th>
                <th>Download</th>
            </tr>
        </thead>
        <tbody>
            <tr class="center aligned">
                <td><%= @history.created_at.localtime.strftime("%m/%d/%Y %I:%M %p") %></td>
                <td>
                    <div class="ui label">
                        <i class="user icon"></i> <%= @history.creator.full_name %>
                    </div>
                </td>
                <td>
                    <%= link_to excel_download_path(@history), target: "_blank", class: "ui tiny icon secondary button" do %>
                        <i class="download icon"></i>
                        Download
                    <% end %>
                </td>
            </tr>
        </tbody>
    </table>
</div>
